<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ReInHerit Toolkit - Multimedia ChatBot</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
          rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'assets/libraries/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libraries/icofont/icofont.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/libraries/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <!--    <link href="{% static 'assets/libraries/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">-->
    <!-- Main CSS File -->
    <link href="{% static 'assets/css/vqa_style.css' %}" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top  d-flex align-items-center "><!-- justify-content-center -->
    <a href="{% url 'home_view' %}" title="HOME">
        <img id="header_logo" alt="reinherit logo"
             src="{% static 'assets/img/reinherit-logo-square-300x300.jpg' %}">
    </a>
    <div id="header_title">
        <em>Re</em><strong>InHerit</strong>
        <div id="undertitle">Redefining the Future of Cultural Heritage</div>
    </div>
    <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li class="menu_passive"><a href="{% url 'home_view' %}">Home</a></li>
            <li class="active menu_active"><a href="{% url 'gallery_view' %}">Gallery</a></li>
        </ul>
    </nav>
</header>
<!-- End Header -->
<main id="main">
    <!-- ======= Gallery ======= -->
    <section id="gallery" class="gallery">
        <div class="centuries_container">
            <div class="large-view">
                <ul id="gallery-filters" class="d-flex justify-content-center">
                    {% if current_letter == "" %}
                    <li data-filter="*" class="filter-active">All</li>
                    {% else %}
                    <li data-filter="*">All</li>
                    {% endif %}
                    {% for letter in starting_letters %}
                    {% if letter == current_letter %}
                    <li data-filter=".filter-{{ letter }}" class="filter-active"
                        data_current-letter="{{ current_letter }}" data-letter="{{ letter }}">{{ letter }}
                    </li>
                    {% else %}
                    <li data-filter=".filter-{{ letter }}" data_current-letter="{{ current_letter }}"
                        data-letter="{{ letter }}">{{ letter }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="choose-letter">
                <label for="myDropdown" class="select-letter-group">Select a letter: </label>
                <div id="gallery-filters" class="dropdown">
                    {% if current_letter == "" %}
                    <button onclick="myFunction()" class="dropbtn">All</button>
                    {% else %}
                    <button onclick="myFunction()" class="dropbtn">{{ current_letter }}</button>
                    {% endif %}
                    <div id="myDropdown" class="dropdown-content">
                        <ul>
                            {% if current_letter == "" %}
                            <li data-filter="*" class="filter-active">All</li>
                            {% for letter in starting_letters %}
                            <li data-filter=".filter-{{ letter }}" data-letter="{{ letter }}">{{ letter }}</li>
                            {% endfor %}
                            {% else %}
                            <li data-filter="*">All</li>
                            {% for letter in starting_letters %}
                            {% if letter == current_letter %}
                            <li data-filter=".filter-{{ letter }}" class="filter-active"
                                data_current-letter="{{ current_letter }}" data-letter="{{ letter }}">{{ letter }}
                            </li>
                            {% else %}
                            <li data-filter=".filter-{{ letter }}" data_current-letter="{{ current_letter }}"
                                data-letter="{{ letter }}">{{ letter }}
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-container">
            {% for work in page_obj %}
            <div class="col-lg-4 col-md-6 gallery-item filter-{{ work.title|first|upper }}">
                <a href="{{ work.link }}">
                    <img src="{{ work.thumb_image }}" class="img-fluid" alt="{{ work.title }}">
                </a>
                <div class="gallery-info">
                    <h4>{{ work.title }}</h4>
                    <p>{{ work.time_period }}</p>
                </div>
            </div>
            {% empty %}
            <p>No artworks found.</p>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1{% if current_letter %}&letter={{ current_letter }}{% endif %}">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if current_letter %}&letter={{ current_letter }}{% endif %}">&lsaquo;</a>
            {% else %}
            <span class="disabled">&laquo;</span>
            <span class="disabled">&lsaquo;</span>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <span class="current-page">{{ num }}</span>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}{% if current_letter %}&letter={{ current_letter }}{% endif %}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if current_letter %}&letter={{ current_letter }}{% endif %}">&rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if current_letter %}&letter={{ current_letter }}{% endif %}">&raquo;</a>
            {% else %}
            <span class="disabled">&rsaquo;</span>
            <span class="disabled">&raquo;</span>
            {% endif %}
        </div>
    </section>

    <!-- End My gallery Section -->
</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer_container">
        <h3><em>Re</em><strong>InHerit</strong> Toolkit - Multimedia ChatBot </h3>

        <div class="social-links">
            <a href="https://twitter.com/reinherit_" target="_blank" title="twitter" class="twitter"><i
                    class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/ReInHerit/" target="_blank" title="facebook" class="facebook"><i
                    class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/reinherit_/" target="_blank" title="instagram" class="instagram"><i
                    class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/company/reinherit-h2020" target="_blank" title="linkedin"
               class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCWg6SySC2I-RQ41qjxZmTmA" target="_blank" title="youtube"
               class="youtube"><i class="bx bxl-youtube"></i></a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<!-- Libraries JS Files -->
<script src="{% static 'assets/libraries/jquery/jquery.min.js'%}"></script>
<script src="{% static 'assets/libraries/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/libraries/jquery.easing/jquery.easing.min.js'%}"></script>
<script src="{% static 'assets/libraries/owl.carousel/owl.carousel.min.js'%}"></script>
<script src="{% static 'assets/libraries/isotope-layout/isotope.pkgd.min.js'%}"></script>
<!-- Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
