{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Edit Question Answer</title>
      <meta content="" name="descriptison">
      <meta content="" name="keywords">
      <!-- Favicons -->
      <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
      <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="{% static 'assets/libraries/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/libraries/icofont/icofont.min.css'%}" rel="stylesheet">
      <link href="{% static 'assets/libraries/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/libraries/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
      <!-- Main CSS File -->
      <link href="{% static 'assets/css/vqa_style.css' %}" rel="stylesheet">
   </head>
   <body>
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top  d-flex justify-content-center align-items-center ">
         <nav class="nav-menu d-none d-lg-block">
            <ul>
               <li><a href="/home">Home</a></li>
               <li><a href="/home/gallery">Gallery</a></li>
               <li><a href='/home/#collaborate'>Help us</a></li>
               <li><a href='/home/#results'>Revision results</a></li>
               <li><a href="/home/#contact">Contact us</a></li>
            </ul>
         </nav>
      </header>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Edit Question-Answer</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Edit</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="edit-title">
      <div class="container">
       {% block content %}
     <form method="POST" class="email-form">
     	{% csrf_token %}
  	<div class="form-group row">
  		 <label hidden for="titleQA" class="col-sm-2 col-form-label">Title: </label>
    	<div hidden class="col-sm-10">
    		{{form.title}}
    	</div>
   		 <label for="questionQA" class="col-sm-2 col-form-label">Question: </label>
    	<div class="col-sm-10">
    		{{form.question}}
   		 </div>
   		 <label for="answerQA" class="col-sm-2 col-form-label">Answer: </label>
    	<div class="col-sm-10">
    		{{form.answer}}
   		 </div>
  </div>
            
         <button type="submit" >Save</button>
     </form>
	{% endblock %}
	</div>
    </section>

  </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <footer id="footer">
         <div class="container">
            <h3>Artwork</h3>
            <p>Artpedia dataset managing interface</p>
            <div class="social-links">
               <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
               <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
               <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
               <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
               <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
               &copy; Copyright <strong><span>Francesco Vannoni</span></strong>. All Rights Reserved
            </div>
         </div>
      </footer>
      <!-- End Footer -->
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <!-- Libraries JS Files -->
      <script src="{% static 'assets/libraries/jquery/jquery.min.js'%}"></script>
      <script src="{% static 'assets/libraries/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'assets/libraries/jquery.easing/jquery.easing.min.js'%}"></script>
      <script src="{% static 'assets/libraries/owl.carousel/owl.carousel.min.js'%}"></script>
      <script src="{% static 'assets/libraries/isotope-layout/isotope.pkgd.min.js'%}"></script>
      <!-- Main JS File -->
      <script src="{% static 'assets/js/main.js' %}"></script>
   </body>
</html>
