<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ css_path }}">
</head>
<body>
<div class="container">
    <div style= "margin-top: 20px; text-align: center">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{form.question}}
            {{form.context}}
            {{ form.image }}
            {% for error in form.image.errors %}
            <span style="color: #ff0000;">{{ error }}</span>
        {% endfor %}
        {{ form.submit }}
        </form>
        <!--<form action="" method="post" enctype="multipart/form-data">-->
            <!--<h3>QUESTION</h3>
            <p> <input type="text" name="question"> </p>
            <h3>CONTEXT </h3>
            <p><input type="text" name="context"> </p>-->
            <!--<h3>IMAGE </h3>
            <input type="file" name="image">
            <input type="submit" value="Send">-->
            <!--<div class="input submit">
                <input type="submit" name = "btn" value="Submit"  style="width: 200px; margin-top: 20px;">
            </div>-->

        <!--</form>-->
    </div>
    <div style= "margin-top: 40px; text-align: center; height: 150px">
        <h3>ANSWER</h3>
        <h2>{{answer}}</h2>
    </div>
</div>


</body>
</html>